@media screen and (max-width:768px){
	
	.about {
	    width: 50%;
	}
	.services {
		width: 50%;
	}
	.contact_single {
		width: 50%;
	}
		
}

@media screen and (max-width: 654px) {
	.slider_content h2 {
		font-size: 30px;
	}
	.slider_content h1 {
		font-size: 40px;
	}
	.slider_content h3 {
		font-size: 25px;
	}
}

@media screen and (max-width: 640px) {
	
	.slider_content h2 {
		font-size: 25px;
	}
	.slider_content h1 {
		font-size: 40px;
	}
	.slider_content h3 {
		font-size: 20px;
	}
	
}

@media screen and (max-width: 480px){
	.slider_content h2 {
		font-size: 20px;
	}
	.slider_content h1 {
		font-size: 40px;
	}
	.slider_content h3 {
		font-size: 18px;
	}
	.about {
	    width: 100%;
	}
	.services {
		width: 100%;
	}
	.contact_single i {
		font-size: 36px;
	}
	.contact_single h2 {
		font-size: 17px;
	}
	.contact_form {
		width: 100%;
		padding-right: 0px;
	}
	.message {
		width: 100%;
	}
	.logo {
		float: none;
		margin: 0 auto;
	}
	.contact_single {
		width: 100%;
	}
	
}

@media screen and (max-width: 438px) {
	.slider_content h1 {
		font-size: 25px;
	}
	
}

@media screen and (max-width: 320px) {
	.contact_single {
		width: 100%;
	}
	.slider_content h2 {
		font-size: 16px;
	}
	.slider_content h1 {
		font-size: 23px;
	}
	.slider_content h3 {
		font-size: 14px;
	}
	.logo {
		float: none;
		margin: 0 auto;
	}
	.social_icons i {
		width: 30px;
		height: 30px;
		line-height: 2;
		font-size: 15px;
	}
	
}

























